.fundoLogin {
    background-image: url("https://ik.imagekit.io/Zabo/Blog-Pessoal/personagem-de-desenho-animado-de-ilustracao-vetorial-de-blogging_516790-1481.avif?updatedAt=1705578419077");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}